<?xml version="1.0"?>

<model>
  <name>Ground Line Field Plane</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Pavel Kozlov</name>
    <email>pkozlov.iu@gmail.com</email>
  </author>

  <description>
    Ground line first example.
  </description>
</model>
